<div class="container">
    <div class="row">
        <div class="col-md-5">
            <app-shopping-list-edit></app-shopping-list-edit>
        </div>
        <div class="col-md-7">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let ingredient of ingredients$|async; let i=index">

                    <span>
                        {{ingredient['strIngredient1']}}
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>